<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:1216/VagueCreationService.svc" binding="wsHttpBinding" contract="Zero.Contract.ICreationVagueService"/>
      
    </client>
    
  </system.serviceModel>
  
</configuration>